html, body, #app {
    height: 100%;
    margin: 0px;
}
.page {
    display: none;
    height: 100%;
}
.page.active {
   display: flex;
}
nav{
    position: fixed;
    right: 10px;
}
ul{
    list-style: none;
}
.container {
    padding : 50px;
    display: flex;
    flex-wrap: wrap;
}
#shop-list {
    height: 100%;
    width: 30%;
    background-color: #f16f6f;
}
#vendor-list {
    height: 100%;
    width: 70%;
    background-color : #effeff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vendor-list .container{
    padding: 0px;
    height: 80%;
    width: 80%;
}
.item {

    border-radius: 10px;
    width: 50px;
    height: 50px;
    margin: 5px;
    box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.41);
    cursor: pointer;
}

.item.blanc {
    background-color:#f8da91;
}

.item.rouge {
    background-color:#f43c3c;
}

.item.rose {
    background-color: #ff5e9c;
}